<nav class="navbar navbar-expand-lg navbar-light bg-light header-container">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Room Booking</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="roommenu" routerLinkActive="active-link"
            >Room</a
          >
        </li>
        <li class="nav-item" *ngIf="user.role == null">
            <a class="nav-link" routerLink="login">Login</a>
        </li>
        <!-- <li class="nav-item" *ngIf="user.role !== null">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li> -->
        <li class="nav-item" *ngIf="user.role !== null">
          <app-user-action align="end"></app-user-action>
        </li>
        
      </ul> 
      
    </div> 
  </div>
</nav>
