<div class="user-avatar-container" *ngIf="user">
  <div mat-card-avatar class="user-avatar">
    <label class="hoverable">
      <div *ngIf="isPreview$ | async; else preview">
        
        <img [src]="imgSrc" />
      </div>
      
      <ng-template #preview>
        <img
          [src]="
            user.avatarUrl
              ? user.avatarUrl
              : 'assets/images/user-null-avatar.png'
          "
        />
      </ng-template>

      <div class="hover-text">
        <button mat-button color="warn" (click)="onClick()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
      <div class="background"></div>
    </label>

    <input
      type="file"
      #fileUpload
      id="fileUpload"
      name="fileUpload"
      accept="image/*"
      style="display: none"
    />
  </div>
</div>
<br />

<div *ngIf="isPreview$ | async;" fxLayout="row" fxLayoutGap="8px" style="justify-content: center;"> 
  <button
    mat-stroked-button 
    color="primary"
    type="button"
    mdbWavesEffect
    (click)="onSave()"
  >
    Save
  </button>

  <button
    mat-stroked-button 
    color="primary"
    type="button"
    mdbWavesEffect
    (click)="onCancel()"
  >
    Cancle
  </button>
</div>

