<ng-container *ngIf="loadingService.isLoading$ | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user.role !== null">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->
<!-- <div class="container">
    <router-outlet></router-outlet>
</div> -->
