<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6" *ngIf="roomData">
      <a routerLink="../../roommenu" class="btn btn-sm btn-dark mb-3">Back</a>
      <img src="{{ roomData[0].images }}" width="100%" />
      <h1 class="mt-3">{{ roomData[0].codeName }}</h1>
      <p>isVacant: {{ roomData[0].isVacant }}</p>
      <p>{{ roomData[0].price | currency: "USD" }}</p>
    </div>

    <div class="col-lg-6 col-12 form-container">
      <h1>Enter Your Details</h1>
      <form [formGroup]="dateRange">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Date Range</mat-label>
          <mat-date-range-input
            [dateFilter]="filter"
            [rangePicker]="dateRangePicker"
            [comparisonStart]="dateRange.value.start"
            [comparisonEnd]="dateRange.value.end"
          >
            <input
              matStartDate
              placeholder="Start date"
              formControlName="start"
            />
            <input matEndDate placeholder="End date" formControlName="end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="dateRangePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
        </mat-form-field>

        <button class="btn btn-md btn-dark mt-3" [disabled]="response" (click)="submitBooking()">
          Book Room
        </button>
        <div *ngIf="response">Booking confirmed, redirecting to home page</div>
      </form>
    </div>
  </div>
</div>
