
<mat-stepper orientation="horizontal" linear="isLinear" #stepper>
    <mat-step>
        <ng-template matStepLabel>Which room size would you like</ng-template>
        <form >
            <mat-form-field appearance="fill" >
                <mat-label>Room Size</mat-label>
                <mat-select   required>
                  <mat-option *ngFor="let size of RoomSizeArray " value={{size}} (click)="selectSize(size)">{{size}}</mat-option>
                </mat-select>
              </mat-form-field>
        </form>
    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel>Room Selection</ng-template>
        <ng-template *ngIf="SelectedSize; then selectedSize else notselectedSize"></ng-template>
        <form>
            <mat-form-field appearance="fill" >
                <mat-label>Room</mat-label>
                <mat-select>
                  <mat-option *ngFor="let item of filteredRoomArray" value={{item}} (click)="selectRoom(item)">{{item.codeName}}</mat-option>
                </mat-select>
              </mat-form-field>
        </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Room Timesheet</ng-template>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Date Range</mat-label>
        <mat-date-range-input
          [dateFilter]="filter"
          [formGroup]="dateRange"
          [rangePicker]="dateRangePicker"
          [comparisonStart]="dateRange.value.start"
          [comparisonEnd]="dateRange.value.end">
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
      </mat-form-field>
      <div>
        <button mat-button (click)="confirmDate($event)">Confirm date</button>
      </div>
  </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
      <p>Please Confirm</p>
      <div>
        <button mat-button (click)="submitBooking();resetBooking();stepper.reset();">Confirm booking</button>
      </div>
    </mat-step>
  </mat-stepper>

  <ng-template matStepLabel #notselectedSize>You didn't choose room size</ng-template>
  <ng-template  matStepLabel #selectedSize>Basing on selection of size {{SelectedSize}}, we found {{filteredRoomArray?.length}} rooms </ng-template>