.admin-dashboard-container {
  position: relative;
  padding: 16px;
}

.details-button {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 8px;
}

.user-managment-p{
  font-family: cursive;
  font-size: 1.8rem;
}

.revenue-p{
  font-family: cursive;
  font-size: 1.8rem;
}