.admin-dashboard-container {
  position: relative;
  padding: 16px;
}

.details-button {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 8px;
}

.user-managment-p {
  font-family: cursive;
  font-size: 1.8rem;
}

.revenue-p {
  font-family: cursive;
  font-size: 1.8rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
