* {
    box-sizing: border-box;
  }

.contentDetail{
    min-width: 120px;
    padding-left:  12px
}

h1{
  font-family: 'Brush Script MT', cursive;
  color: red;
  text-align: center;
}

span.field{
  float: right;
}